<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="author" content="Chad Lillquist"/>
        <meta name="description" content="Beerslayers is about drinking beer and reporting on the slain beers.  Its a Beer Blog!"/>
        <meta name="keywords" content="Chad Lillquist, Beer, Colorado beer, blog"/>
        <link rel="icon" type="image/ico" href="favicon.ico">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.min.css" />
        
    </head>
    <body>

      {{ content }}

      <script type="text/javascript" charset="utf-8" src="/assets/scripts/script.min.js" ></script>
    </body>
</html>
